

body{
    background-color: rgb(48, 46, 46);
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #10dde4;
}

button{
    
    background-color:#10dde4 ;
    border: #10dde4;
    border-radius: 5px;
    width: 80px;
    height: 30px ;
}

div{
    padding:50px;
}

.label{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: #3a03ff;

}
